body{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
table,td{
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  width: 75px;
  height: 75px;
}
.w{
  background-color: #e6e6e6
}
.b{
  background-color: #333333
}
.white{
  color: white;
  font-size: 40px;
  text-align: center;
}
.black{
  color: black;
  font-size: 40px;
  text-align: center;
}